@import "./phoenix.scss";

$font_size_xl: 26px;
$font_size_l: 20px;
$font_size_m: 16px;
$font_size_s: 12px;

$margin_mini: 4px;
$margin_small: 8px;
$margin_medium: 16px;
$margin_big: 32px;

$white: white;
$black: black;
$light_gray: #e7e7e7;

@mixin outline() {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

@mixin keyboard_only_focus() {
  html[data-js-focus-visible] &:focus[data-focus-visible-added] {
    @content;
  }
}

* {
  @include keyboard_only_focus {
    @include outline();
  }
}

html, body {
  margin: 0;
}

body {
  background-color: $light_gray;
  font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.grid {
  display: flex;
  position: relative;
  min-height: 0;
  max-height: 100vh;
  overflow: hidden;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: $margin_medium;
}

h1 {
  font-size: $font_size_xl;
}

h2 {
  font-size: $font_size_l;
}

input[type="text"], input[type="number"], select {
  border: 1px solid $black;
  background: $white;
  padding: $margin_mini;
}

.button {
  border-radius: 0;
  -webkit-appearance: none;
  text-decoration: none;
  border: 1px solid $black;
  background: $white;
  padding: $margin_mini $margin_small;
  font-size: $font_size_m;
  color: inherit;
  cursor: pointer;
  box-shadow: $margin_mini $margin_mini 0 0 $light_gray;
  position: relative;

  &:active {
    color: inherit;
  }

  &:hover {
    top: $margin_mini / 2;
    left: $margin_mini / 2;
    box-shadow: $margin_mini / 2 $margin_mini / 2 0 0 $light_gray;
  }
}

table {
  border-collapse: collapse;

  tr td, tr th {
    border: 1px solid $black;
    padding: $margin_small;
  }
}

input {
  min-width: 0;
}

.radio, .checkbox {
  $height: 12px;

  display: inline-flex;
  white-space: nowrap;

  input {
    background: transparent;
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: $height;
    height: $height;
    z-index: -1;
  }

  input + label {
    cursor: pointer;
    position: relative;
    padding-left: $height + $margin_small;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $height;
      height: $height;
      border: 1px solid $black;
      background: $white;
    }

    &:after {
      margin-left: $height / 4;
      width: $height / 2;
      height: $height / 2;
      background: $white;
    }

    &:hover {
      &:after {
        background: $light_gray;
      }
    }
  }

  input:checked + label {
    &:before {
      background: $light_gray;
    }

    &:after {
      background: $black;
    }
  }

  input:focus + label {
    @include outline();
  }
}

.radio {
  input + label {
    &:before, &:after {
      border-radius: 50%;
    }
  }
}

.column-left, .column-main, .column-right {
  margin: $margin_medium;
}

.column-left, .column-right {
  flex: 0 0 auto;
  width: 320px;
}

.column-main {
  flex: 1 1 auto;
  display: flex;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.maze-settings, footer, .maze-stats, .maze {
  width: 100%;
  padding: $margin_medium;
  border: 2px solid $black;
  background-color: $white;
}

footer {
  margin-top: $margin_medium;
  font-size: $font_size_s;
}

@import './maze.scss';
@import './maze_settings';
@import './maze_stats';
