.maze {
  max-height: 98vh;

  svg {
    line {
      stroke: black;
      stroke-width: 3;
      stroke-linecap: round;
    }

    rect {
      fill: white;

      &.start {
        fill: grey !important;
      }

      &.end {
        fill: grey !important;
      }
    }
  }

}
