.maze-settings {
  flex: 0 0 auto;
  width: 300px;

  section {
    margin-bottom: 1em;
  }

  .maze-settings-shape,
  .maze-settings-generation-algorithm,
  .maze-settings-exit-strategy,
  .maze-settings-dimensions {
    label {
      display: block;
    }
  }
}
