<svg viewBox="0 0 64 64" width="64px" height="64px" xmlns="http://www.w3.org/2000/svg">
  <rect x="60.382" y="62.296" width="0.116" height="0.116" style="fill: rgb(216, 216, 216);"/>
  <circle style="stroke-width: 2px; stroke-linejoin: round; stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);" cx="32" cy="32" r="30"/>
</svg>
