<svg viewBox="0 0 64 64" width="64px" height="64px" xmlns="http://www.w3.org/2000/svg">
  <circle style="stroke-width: 2px; stroke-linejoin: round; stroke: rgb(0, 0, 0);" cx="32" cy="32" r="30"/>
</svg>
