<svg viewBox="0 0 64 64" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg">
  <rect x="2" y="2" width="60" height="60" style="stroke-linejoin: round; stroke: rgb(0, 0, 0); stroke-width: 2px;"/>
</svg>
