<svg viewBox="0 0 67 64" width="33px" height="32px" preserveAspectRatio="xMaxYMid" xmlns="http://www.w3.org/2000/svg">
  <path d="M 33.5 2 L 63.5 62 L 3.5 62 L 33.5 2 Z" style="stroke-width: 2px; stroke-linejoin: round; stroke: rgb(0, 0, 0);"/>
</svg>
