<svg viewBox="0 0 67 64" width="64px" height="64px" preserveAspectRatio="xMaxYMid" xmlns="http://www.w3.org/2000/svg">
  <rect x="60.382" y="62.296" width="0.116" height="0.116" style="fill: rgb(216, 216, 216);"/>
  <path d="M 33.5 2 L 63.5 62 L 3.5 62 L 33.5 2 Z" style="stroke-width: 2px; stroke-linejoin: round; stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);"/>
</svg>
