<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32.png") %>"/>
    <link rel="shortcut icon" sizes="64x64" href="<%= Routes.static_path(@conn, "/images/favicon-64.png") %>"/>
    <link rel="shortcut icon" sizes="96x96" href="<%= Routes.static_path(@conn, "/images/favicon-96.png") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mazes" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer data-domain="mazes.angelika.me" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
